.topBarContainer,
.topBarContainer-border {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    transition: padding-top 0.3s ease-out;
    background: black;
}

.topBarContainer-border {
    border-bottom: solid 1px rgb(36, 36, 36);
    padding-top: 0px;
}

.navContainerHeader {
    align-self: center;
    height: 100%;
    width: 75%;
    display: flex;
    align-items: flex-start;
    gap: calc(-50px + 75vw - 75vw * 3/4);
}

.topBarNav {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    position: relative;
}

.navButton {
    height: fit-content;
    width: fit-content;
    color: rgb(133, 133, 133);
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    padding: 5px 15px;
    display: inline;
    border-radius: 60px;
    transition: background 0.3s;
}

.navButton:hover {
    background: rgb(36, 36, 36);
    color: white;
}

.dropDownContainer {
    position: absolute;
    z-index: 100;
    min-height: 60px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 34px;
    left: 0px;
    padding-top: 24px;
    height: fit-content;
}

.dropDown {
    height: fit-content;
    width: 450px;
    border: solid 1px rgb(36, 36, 36);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    gap: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropDownItem{
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    padding-left: 15px;
    color: rgb(133,133,133);
    width: 60%;
    font-size: 500;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 50px;
}

.dropDownItem:hover{
    color: white;
    background-color: rgb(36, 36, 36);
}

.homeButton {
    height: 50px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    font-size: larger;
    gap: 20px;
    transition: background 0.3s;
    border-radius: 60px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.homeButton:hover {
    background: rgb(36, 36, 36);
}

.navButtonArrow {
    transition: transform 0.5s ease;
}

.navButton:hover .navButtonArrow {
    transform: rotate(180deg);
}

.dropDown:hover .navButtonArrow {
    transform: rotate(180deg);
}

.tempIcon {
    height: 35px;
    width: 35px;
}